<%- include('./../_partials/header.ejs') %>
 
<h1>Hello World</h1>
<h2> <%= dateDuJour %> </h2>

<ul>
    <% for(const duck of ducks) { %>
        <li> <%= duck %> </li>
    <% } %>
</ul>

<%- include('./../_partials/footer.ejs') %>
